In [20]:
# Import necessary modules
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import time

In [21]:
# Start time of the process
st = time.time()

In [22]:
# Reading the data
PokerhandData = pd.read_csv('poker-hand-training-true.data', sep=',', header=None)
PokerHandTest = pd.read_csv('poker-hand-testing.data', sep=',', header=None)

# Taking 1000 samples for testing
PokerHandTest.sample(n=1000)

        0   1   2   3   4   5   6   7   8   9   10
704409   3   7   4   3   3   5   4   4   1   2   0
525228   3   7   2  11   1   2   1   3   2   9   0
316910   1   9   1  12   4   5   3  11   1   6   0
143277   1   4   4   5   1   9   2  10   2  12   0
964434   1   2   1   5   3   2   3  12   2  10   1
...     ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
142510   3   3   3   1   4   8   1  11   2   8   1
884496   1  10   3   4   2   7   2   1   2   9   0
992176   1  10   1   5   2   9   4  12   3   2   0
491521   2   1   3  11   2  12   1   2   1   8   0
836965   3   6   4   8   2  13   1   2   1  10   0

[1000 rows x 11 columns]

In [23]:
# Converting dataframes to numpy arrays
PokerhandData = PokerhandData.to_numpy()
PokerHandTest = PokerHandTest.to_numpy()

In [24]:
# Defining training and testing features and trainging and testing outputs
X_train = PokerhandData[:,0:9]
y_train = PokerhandData[:, 10]
  
X_test = PokerHandTest[:,0:9]
y_test = PokerHandTest[:, 10]

In [25]:
# k-Nearest Neighbors model
knn = KNeighborsClassifier(n_neighbors=9) 
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=9)

In [26]:
# Calculating the accuracy of the model
print(knn.score(X_test, y_test))

0.539481

In [27]:
# End Time of the process
et = time.time()

In [28]:
# Total Time
tt = et - st
print("The total time is ", tt, " seconds.")

The total time is  81.64570713043213  seconds.